$fieldwidth: 8rem;

.Table {
	padding: 2em;
}

.Labels {
	width: max-content;
	padding: 1em;
	margin-bottom: 0.5em;
	position: sticky;
	top: 1em;
	background-color: var(--light);
}

.Label {
	width: $fieldwidth;
	text-align: center;
	outline: 1px solid var(--secondary);
	padding: 0.5em 0;
}

.Labels,
.InputRow {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
	width: max-content;
	padding: 1em;
	border: 2px solid var(--secondary);
}

.InputRow {
	&:not(:nth-last-of-type(1)) {
		margin-bottom: 0.5em;
	}
}

.Input {
	width: $fieldwidth;
	border: 2px solid var(--secondary);
}

.Button {
	padding: 0.5em 1em;
	background-color: transparent;
	border: 1px solid var(--dark);
	border-radius: 5px;
	margin-top: 0.5em;
}
