$fieldwidth: 9rem;

.Form {
	padding: 2em;
}

.Fields {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
}

.Label {
	background-color: var(--secondary);
	padding: 0.5em 1em;
	display: flex;
	place-items: center;
	border-radius: 0.25em;
	width: 100%;
}

.Input {
	display: flex;
	padding: 0.3em 0.5em;
	width: $fieldwidth;
	font-size: 0.85rem;
}

.Select {
	width: $fieldwidth;
	padding: 0.5em 1em;
}

.Date {
	width: max-content;
}

.Field {
	min-width: $fieldwidth;
}
